{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "func-names": ["error", "never"],
    "comma-dangle": 0,
    "prefer-arrow-callback": 0,
    "arrow-body-style": 0,
    "no-lonely-if": 0,
    "eqeqeq": 0,
    "max-len": ["error", { "code": 140 }],
    "object-curly-newline": 0,
    "linebreak-style": 0,
    "indent": 0,
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-restricted-syntax": ["error", "never"],
    "no-console": "off",
    "no-magic-numbers": ["error", { "ignore": [1] }],
    "no-inline-comments": "error"
    // "no-console": "error"
  },
  "settings": {
      "react": {
        "version": "999.999.999"
      }
  }
}