.form__container {
  // outline: 1px red solid;
  width: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form__title {
  color: $input-dark;
  font-size: 2rem;
}

.form__form {
  width: 100%;
  margin-top: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form__input {
  display: block;
  width: 20rem;
  height: 3.2rem;
  margin-bottom: 1rem;
  padding: 0 1rem;

  background-color: $input-dark;
  border: 1px $input-txt-color solid;
  outline: none;

  color: $input-txt-color;
  line-height: 3.2rem;

  &:invalid {
    background-color: $input-dark;
    // background-color: $form-error;
  }
}

.form__btn {
  display: block;
  min-width: 20rem;
  height: 4rem;
  padding: 1rem 2rem;
  margin-bottom: 2rem;

  background-color: $btn-color;
  background-image: $btn-gradient;

  color: $input-dark;
  font-size: 1.6rem;
  text-align: center;

  &:hover {
    cursor: pointer;
    background-image: none;
  }
}

.form__link {
  color: $text-color;
  font-size: 1.4rem;

  &:hover {
    color: $links-hover;
    cursor: pointer;
    border-bottom: 1px $links-hover solid;
  }
}

.form__msg {
  display: block;
  margin-bottom: 1rem;
  color: $form-error;
  font-size: 1.2rem;
  text-align: center;
}


@media only screen and #{$tablet-width} {

  .form__container {
    width: 90%;
  }

  .form__title {
    color: $input-dark;
    font-size: 1.8rem;
  }

  .form__form {
    margin-top: 1rem;

  }

  .form__input {
    width: 20rem;
    height: 3.2rem;
    margin-bottom: 1rem;
    padding: 0 1rem;

    color: $input-txt-color;
    line-height: 3.2rem;

  }

  .form__btn {
    width: 20rem;
    height: 3.6rem;
    padding: 1rem;
    margin-bottom: 2rem;

    font-size: 1.4rem;
  }

  .form__link {
    font-size: 1.2rem;
  }

  .form__msg {
    margin-bottom: 1rem;
    color: $form-error;
    font-size: 1rem;
  }

}