.page-header {
  width: 100%;
  height: 41.4rem;
  // background-color: red;
  background-image: url("../../assets/img/welcome_screen/top_left.png"),
        url("../../assets/img/welcome_screen/top_right.png");
  background-size: 44.6rem 41.5rem, 57.3rem 41.2rem;
  background-repeat: no-repeat;
  background-position: top left, top right;
}

.page-header__container {
  @include container();
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.page-header__logo {
  margin-top: 2rem;
  width: 32.2rem;
  height: 26.4rem;
}

.page-header__name {
  margin-top: -3rem;
  width: 56.6rem;
  height: 6.8rem;
  margin-bottom: 2.4rem;
}

.page-header__nav {
  width: 80%;
}

.nav__list {
  // outline: 1px green solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include list-normalize();
  padding: 1rem 1rem;
  border-top: 2px $text-color solid;
  border-bottom: 2px $text-color solid;
}

.nav__item {


  & a {
    color: $text-color;
    text-transform: uppercase;
    font-size: 2.1rem;
  }
}



@media only screen and #{$tablet-width} {
  .page-header {
    width: 100%;
    height: 21rem;
    background-image: url("../../assets/img/welcome_screen/top_left.png"),
          url("../../assets/img/welcome_screen/top_right.png");
    background-size: 22.3rem 20.7rem, 27.7rem 20.6rem;
  }


  .page-header__logo {
    margin-top: 1rem;
    width: 17rem;
    height: 14rem;
  }

  .page-header__name {
    margin-top: -1.8rem;
    width: 32rem;
    height: 3.4rem;
    margin-bottom: 1.4rem;
  }

  .page-header__nav {
    width: 120%;
    // outline: 1px blue solid;
  }

  .nav__list {
    // outline: 1px green solid;
    padding: 0.5rem 1rem;
    border-top: 2px $text-color solid;
    border-bottom: 2px $text-color solid;
  }

  .nav__item {
    & a {
      font-size: 1.4rem;
    }
  }
}