$background-dark: #0c1122;
$background-light: #9abfe2;
$text-color: #000;
$footer-text-color: #fff;
$input-txt-color: #fff;
$input-dark: #2a1d0c;
$form-error: #9d140b;

$btn-color: #ff8a00;
$btn-gradient: linear-gradient(to top, #ff8a00, #ffc300);

$mobile-width: "(max-width: 640px)";
$tablet-width: "(max-width: 1140px)";
$s-desktop-width: "(max-width: 1400px)";